
/*------------------------------------------------Nav bar----------------------------------------------------------*/


#menuToggle {
    display: none;
}

#menuToggle:hover{
    color: orange;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 900px) {
    #menuToggle{
        display: inline;
    }
    .menubar li {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    #menulist li , #menulist{
        display: none;
    }
}

/*------------------------------------------------body----------------------------------------------------------*/
   
/*------------------------------------------------home----------------------------------------------------------*/

@media only screen and (max-width: 1400px){
    .welcome_text1{
        font-size: 48px;
    }
    .welcome_text2{
        font-size: medium;
    }
    
}

@media only screen and (max-width: 1100px){

    .home_container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

}


@media only screen and (max-width: 700px){

    .welcome_text1{
        font-size: 35px;
        text-align: center;
    }
    .welcome_text2{
        font-size: 15px;
        text-align: center;
    }

}

@media only screen and (max-width: 500px){

    .welcome_text1{
        font-size: 25px;
        text-align: center;
    }
    .welcome_text2{
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }

    .homecontact{
        font-size: small;
    }
    
}

/*------------------------------------------------about----------------------------------------------------------*/

@media only screen and (max-width: 1200px){

    .abt_me{
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 900px){

    .abt_me_2{
        width: 300px;
        height: auto;
    }
}

@media only screen and (max-width: 700px){

    .abt_me_1{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .abt_me_2{
        width: 200px;
        height: auto;
    }

    .headers{
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
}


/*------------------------------------------------Services----------------------------------------------------------*/

@media only screen and (max-width: 1400px){

    .abt_services_container{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .product-info{
        margin-top: 20px;
        padding: 0px;
    }

    .serviceimg{
        width: 500px;
        height: auto;
    }
    
}

@media only screen and (max-width: 900px){

    .serviceimg{
        width: 300px;
        height: auto;
    }
    
}

@media only screen and (max-width: 700px){

    .product-info p{
        font-size: 15px;
    }
    
}

/*------------------------------------------------reviews----------------------------------------------------------*/

@media only screen and (max-width: 1400px){

    .abt_rev_container{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .product-info2{
        margin-top: 20px;
    }

    .revimg{
        width: 500px;
        height: auto;
    }
    
}

@media only screen and (max-width: 900px){

    .revimg{
        width: 300px;
        height: auto;
    }
    
}

@media only screen and (max-width: 700px){

    .product-info2 p{
        font-size: 15px;
    }
    
}


/*------------------------------------------------contact----------------------------------------------------------*/

@media only screen and (max-width: 1400px){

    .contactmain{
        margin-top: 20px;
    }

    .contactmain{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .con_container{
        padding: 1px;
        width: fit-content;
    }
}

@media only screen and (max-width: 500px){
    .con_container{
        font-size: 15px;
    }

    .map-container{
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 400px){
    .con_container{
        font-size: 12px;
    }

    .map-container{
        width: 250px;
        height: 250px;
    }

    input,textarea{
    border-radius: 20px;
    border: 0px;
    padding-left:15px ;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    background-color: orange;
    color: black;
    }

    .contact_container2{
        font-size: 15px;
    }
}




